.products-wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  h2 {
    margin: 0;
    font-weight: 600;
  }

  .right {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

table {
  width: 100%;
}

.name {
  font-weight: 500;
}

.category {
  background: #eef2ff;
  color: #4338ca;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.promo {
  color: #16a34a;
  font-weight: 600;
}

.row:hover {
  background: #f9fafb;
  transition: 0.2s;
}

mat-paginator {
  margin-top: 15px;
}


.reindex-form {
  background: #f9f9f9;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;

  h3 {
    margin-top: 0;
  }

  .mapping-group {
    margin-bottom: 1rem;

    h4 {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .mapping-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 0.5rem;

      .mapping-row {
        display: flex;
        flex-direction: column;

        label {
          font-weight: 500;
          margin-bottom: 0.25rem;
        }

        input {
          padding: 0.25rem 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
    }
  }

  .form-actions {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }
}