.el-settings-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #dadce0;
    margin-top: 1rem;

    h2 {
        margin: 0;
        color: #333;
        font-size: 1.2rem;
    }

    p {
        margin: 0;
        color: #686864;
        font-size: .9rem;
    }

    .snippet-card {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        position: relative;

        pre {
            background: #f5f5f5;
            padding: 1rem;
            border-radius: 8px;
            font-family: monospace;
        }

        .code-snippet {
            background: #1e1e1e; // fond sombre VSCode
            color: #d4d4d4;
            padding: 1rem;
            border-radius: 8px;
            font-family: 'Fira Code', monospace;
            font-size: 0.875rem;
            overflow-x: auto;
            white-space: pre-wrap;
            position: relative;

            .tag {
                color: #569cd6; // bleu pour les balises
                font-weight: bold;
            }

            .comment {
                color: #6a9955; // vert pour les commentaires
                font-style: italic;
            }
        }
    }

    .el-copy {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        color: #888;
        transition: color 0.2s;

        &:hover {
            color: #000;
        }
    }

    button {
        width: fit-content;
    }
}

.copied-feedback {
    position: absolute;
    top: 0.5rem;
    right: 3rem;
    color: #4caf50;
    font-weight: bold;
    animation: fadeout 1.5s forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

app-site-settings {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 80dvh;
}

.el-container-tester {
    width: 100%;
    border: solid 1px #dadce0;
    border-radius: 4px;
    display: flex;
    height: 40px;
    align-items: center;
    overflow: hidden;

    input {
        outline: none;
        border: none;
        box-shadow: none;
        border-right: solid 1px #dadce0;
        padding-left: 1rem;
        color: #333;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    button {
        outline: none;
        border: none;
        box-shadow: none;
        width: 150px;
        height: 100%;
        cursor: pointer;
        display: flex;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        color: #333;
        background: none;
        transition: all .3s ease;
    }

    button:hover {
        background-color: rgba(242, 242, 242, .3);
    }
    button:disabled{
        background-color: var(--disabled-bg);
        cursor: not-allowed;
    }
}

.test-result {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    width: fit-content;
    padding: 1rem;
    border-radius: 4px;

    .ng-fa-icon {
        font-size: 1.25rem;
    }

    .ng-fa-icon.success {
        color: var(--success-color);
    }

    .ng-fa-icon.error {
        color: var(--error-color);
    }

    .ng-fa-icon.disabled {
        color: var(--disabled-color);
    }
}

.test-result.success {
    background-color: var(--success-bg);
    color: var(--success-color);
}

.test-result.error {
    background-color: var(--error-bg);
    color: var(--error-color);
}

.test-result.disabled {
    background-color: var(--disabled-bg);
    color: var(--disabled-color);
}

.el-container-input{
    margin-top: 2rem;
}
.el-btns-control-stepper{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}