<mat-tab-group *ngIf="overview">

  <mat-tab label="Overview">
    <app-site-overview
      [overview]="overview"
      (crawl)="crawl()"
      (reindex)="reindex()">
    </app-site-overview>
  </mat-tab>

  <mat-tab label="Pages">
    <app-site-pages [siteId]="siteId"></app-site-pages>
    <app-site-products [siteId]="siteId"></app-site-products>
  </mat-tab>

  <mat-tab label="Sources de connaissance (IA)">
    <app-site-crawl [overview]="overview"></app-site-crawl>
  </mat-tab>

  <mat-tab label="Users">
    <app-site-users></app-site-users>
  </mat-tab>

  <mat-tab label="Conversations">
    <app-site-conversations></app-site-conversations>
  </mat-tab>

  <mat-tab label="Settings">
    <app-site-settings [settings]="overview.settings" [site]="overview.site"></app-site-settings>
  </mat-tab>

</mat-tab-group>
