* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.el-container-stats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 0 1rem;
    width: 100%;
}

.el-container-stats .mat-mdc-card,
.el-container-graphs .mat-mdc-card {
    padding: 1rem 0;
}

.el-container-stats .mat-mdc-card-content,
.el-container-graphs .mat-mdc-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.mat-mdc-card-content .el-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.mat-mdc-card-content h2 {
    font-size: 2.5rem;
    margin: 0;
    color: #454546;
}

.mat-mdc-card-content p {
    font-size: .8rem;
    margin: 0;
    color: #707070;
}

.el-container-stats .mat-mdc-card-content .ng-fa-icon {
    font-size: 3rem;
    color: #ed6f01;
}

.el-container-graphs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.el-container-graphs .mat-mdc-card,
.el-container-table .mat-mdc-card,
.el-container-sources-comparaison .mat-mdc-card {
    padding: 1rem;
}

.el-container-table {
    padding: 1rem;
}

.p-card {
    width: 100% !important;
}

.p-card canvas {
    width: 100% !important;
}

.full-width-chart {
    width: 100%;
    height: 300px;
}

.el-container-sources-comparaison {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.p-tag-value{
    padding: .25rem !important;
}

.el-controls-btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.el-controls-btns .mat-mdc-card-content .ng-fa-icon {
    font-size: 1.5rem;
    color: #efff;
}