<mat-horizontal-stepper linear #stepper>
  <ng-container *ngFor="let group of standardColumnGroups; let i = index">
    <mat-step [stepControl]="stepForms[i]" [label]="group.label">
      <form [formGroup]="stepForms[i]">
        <div class="el-row" *ngFor="let col of group.columns">

          <mat-form-field>
            <mat-label>{{ col.label }}</mat-label>
            <input *ngIf="col.key !== 'description'" matInput [formControlName]="col.key" [required]="!!col.required" />
            <textarea *ngIf="col.key === 'description'" matInput [formControlName]="col.key"
              [required]="!!col.required"></textarea>
          </mat-form-field>

        </div>
      </form>

      <div class="step-actions">
        <button mat-button matStepperPrevious *ngIf="i > 0">Précédent</button>
        <button mat-button matStepperNext *ngIf="i < standardColumnGroups.length - 1">Suivant</button>
        <button mat-button color="primary" (click)="save()"
          *ngIf="i === standardColumnGroups.length - 1">Re-indexer</button><button mat-button color="warn"
          (click)="close()">Annuler</button>
      </div>
    </mat-step>
  </ng-container>
</mat-horizontal-stepper>